<h2>Add a Room</h2>

<!-- NEED enctype="multipart/form-data" for UPLOADING FILES -->
<form action="/process-room" method="POST" enctype="multipart/form-data">
  <label>
    Room Name:
    <input type="text" name="name" placeholder="Cozy Studio in Paris..." required />
  </label>

  <label>
    Description (100 characters or more):
    <input type="text" name="description" placeholder="Only 5 minutes away from the Louvre..." minlength="100" required />
  </label>

  <label>
    Picture:
    <input type="file" name="pictureUpload" required />
  </label>

  <button>Save This Room</button>
</form>
